@inherits LayoutComponentBase

<head>
    <link href="https://fonts.googleapis.com/css?family=Darker%20Grotesque" rel="stylesheet"/>
    <style>
        body, p, a, footer {
            font-family: "Darker Grotesque";
            font-size: 25px;
        }
    </style>
</head>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer class="site-footer">
    <div class="container footer text-muted">
        &copy; 2020 - Martialtech&reg;
    </div>
</footer>