@inherits MainLayoutBase

<head>
    <link href="https://fonts.googleapis.com/css?family=Darker%20Grotesque" rel="stylesheet" />
    <style>
        body {
            font-family: "Darker Grotesque";
            font-size: 25px;
        }

        p {
            font-family: "Darker Grotesque";
            font-size: 25px;
        }

        option {
            font-family: "Darker Grotesque";
        }
    </style>
</head>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <p style="position: absolute; left: 25px; top: 4px; font-size: 30px">@WelcomeMessage</p>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>