@inherits NotAuthorizedComponentBase

<div style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid d-block m-auto" src="img/MartialBase_Black.png" height="auto" width="50%">
                <p class="text-center d-block" style="text-align: center; margin-top: 2%;">You are not authorized to view this page.</p>
            </div>
        </div>
    </div>
</div>